/*RESET---- */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*=========================================*/
html {
    width:100%;
    height:100%;
}
body {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 , #e74c3c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000 , #e74c3c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
#myCanvas {
    background:rgba(250, 68, 13, 0.3);
	display: block;
	margin: 0 auto;
    margin-top: 1em;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}
a {
    transition: all .2s ease-in-out;
}
nav a:link {
    color: white;
 }
nav a:visited {
    color: white;
}
nav a:hover {
    color: #3399FF;
}

